<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AutoPecasComponents" Directory="INSTALLFOLDER">
		<Component Id="Accessibility_dll">
			<File Source="Accessibility.dll" /> 
		</Component>
       
		<Component Id="AsposeCells_dll">
			<File Source="Aspose.Cells.dll" /> 
		</Component>
       
		<Component Id="AutoPecasdeps_json">
			<File Source="AutoPecas.deps.json" /> 
		</Component>
       
		<Component Id="AutoPecas_dll">
			<File Source="AutoPecas.dll" /> 
		</Component>
       
		<Component Id="AutoPecas_exe">
			<File Source="AutoPecas.exe" /> 
		</Component>
       
		<Component Id="AutoPecasruntimeconfig_json">
			<File Source="AutoPecas.runtimeconfig.json" /> 
		</Component>
       
		<Component Id="clretwrc_dll">
			<File Source="clretwrc.dll" /> 
		</Component>
       
		<Component Id="clrgc_dll">
			<File Source="clrgc.dll" /> 
		</Component>
       
		<Component Id="clrjit_dll">
			<File Source="clrjit.dll" /> 
		</Component>
       
		<Component Id="coreclr_dll">
			<File Source="coreclr.dll" /> 
		</Component>
       
		<Component Id="createdump_exe">
			<File Source="createdump.exe" /> 
		</Component>
       
		<Component Id="D3DCompiler_47_cor3_dll">
			<File Source="D3DCompiler_47_cor3.dll" /> 
		</Component>
       
		<Component Id="DirectWriteForwarder_dll">
			<File Source="DirectWriteForwarder.dll" /> 
		</Component>
       
		<Component Id="EntityFramework_dll">
			<File Source="EntityFramework.dll" /> 
		</Component>
       
		<Component Id="EntityFrameworkSqlServer_dll">
			<File Source="EntityFramework.SqlServer.dll" /> 
		</Component>
       
		<Component Id="FontAwesomeSharp_dll">
			<File Source="FontAwesome.Sharp.dll" /> 
		</Component>
       
		<Component Id="hostfxr_dll">
			<File Source="hostfxr.dll" /> 
		</Component>
       
		<Component Id="hostpolicy_dll">
			<File Source="hostpolicy.dll" /> 
		</Component>
       
		<Component Id="MicrosoftCSharp_dll">
			<File Source="Microsoft.CSharp.dll" /> 
		</Component>
       
		<Component Id="MicrosoftDiaSymReaderNativeamd64_dll">
			<File Source="Microsoft.DiaSymReader.Native.amd64.dll" /> 
		</Component>
       
		<Component Id="MicrosoftVisualBasicCore_dll">
			<File Source="Microsoft.VisualBasic.Core.dll" /> 
		</Component>
       
		<Component Id="MicrosoftVisualBasic_dll">
			<File Source="Microsoft.VisualBasic.dll" /> 
		</Component>
       
		<Component Id="MicrosoftVisualBasicForms_dll">
			<File Source="Microsoft.VisualBasic.Forms.dll" /> 
		</Component>
       
		<Component Id="MicrosoftWin32Primitives_dll">
			<File Source="Microsoft.Win32.Primitives.dll" /> 
		</Component>
       
		<Component Id="MicrosoftWin32RegistryAccessControl_dll">
			<File Source="Microsoft.Win32.Registry.AccessControl.dll" /> 
		</Component>
       
		<Component Id="MicrosoftWin32Registry_dll">
			<File Source="Microsoft.Win32.Registry.dll" /> 
		</Component>
       
		<Component Id="MicrosoftWin32SystemEvents_dll">
			<File Source="Microsoft.Win32.SystemEvents.dll" /> 
		</Component>
       
		<Component Id="mscordaccore_dll">
			<File Source="mscordaccore.dll" /> 
		</Component>
       
		<Component Id="mscordaccore_amd64_amd64_80142511118_dll">
			<File Source="mscordaccore_amd64_amd64_8.0.1425.11118.dll" /> 
		</Component>
       
		<Component Id="mscordbi_dll">
			<File Source="mscordbi.dll" /> 
		</Component>
       
		<Component Id="mscorlib_dll">
			<File Source="mscorlib.dll" /> 
		</Component>
       
		<Component Id="mscorrc_dll">
			<File Source="mscorrc.dll" /> 
		</Component>
       
		<Component Id="msquic_dll">
			<File Source="msquic.dll" /> 
		</Component>
       
		<Component Id="netstandard_dll">
			<File Source="netstandard.dll" /> 
		</Component>
       
		<Component Id="PenImc_cor3_dll">
			<File Source="PenImc_cor3.dll" /> 
		</Component>
       
		<Component Id="PresentationCore_dll">
			<File Source="PresentationCore.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkSystemCore_dll">
			<File Source="PresentationFramework-SystemCore.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkSystemData_dll">
			<File Source="PresentationFramework-SystemData.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkSystemDrawing_dll">
			<File Source="PresentationFramework-SystemDrawing.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkSystemXml_dll">
			<File Source="PresentationFramework-SystemXml.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkSystemXmlLinq_dll">
			<File Source="PresentationFramework-SystemXmlLinq.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkAero_dll">
			<File Source="PresentationFramework.Aero.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkAero2_dll">
			<File Source="PresentationFramework.Aero2.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkAeroLite_dll">
			<File Source="PresentationFramework.AeroLite.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkClassic_dll">
			<File Source="PresentationFramework.Classic.dll" /> 
		</Component>
       
		<Component Id="PresentationFramework_dll">
			<File Source="PresentationFramework.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkLuna_dll">
			<File Source="PresentationFramework.Luna.dll" /> 
		</Component>
       
		<Component Id="PresentationFrameworkRoyale_dll">
			<File Source="PresentationFramework.Royale.dll" /> 
		</Component>
       
		<Component Id="PresentationNative_cor3_dll">
			<File Source="PresentationNative_cor3.dll" /> 
		</Component>
       
		<Component Id="PresentationUI_dll">
			<File Source="PresentationUI.dll" /> 
		</Component>
       
		<Component Id="ReachFramework_dll">
			<File Source="ReachFramework.dll" /> 
		</Component>
       
		<Component Id="Salomaodeps_json">
			<File Source="Salomao.deps.json" /> 
		</Component>
       
		<Component Id="Salomao_dll">
			<File Source="Salomao.dll" /> 
		</Component>
       
		<Component Id="Salomao_exe">
			<File Source="Salomao.exe" /> 
		</Component>
       
		<Component Id="Salomaoruntimeconfig_json">
			<File Source="Salomao.runtimeconfig.json" /> 
		</Component>
       
		<Component Id="sni_dll">
			<File Source="sni.dll" /> 
		</Component>
       
		<Component Id="SQLiteInterop_dll">
			<File Source="SQLite.Interop.dll" /> 
		</Component>
       
		<Component Id="SystemAppContext_dll">
			<File Source="System.AppContext.dll" /> 
		</Component>
       
		<Component Id="SystemBuffers_dll">
			<File Source="System.Buffers.dll" /> 
		</Component>
       
		<Component Id="SystemCodeDom_dll">
			<File Source="System.CodeDom.dll" /> 
		</Component>
       
		<Component Id="SystemCollectionsConcurrent_dll">
			<File Source="System.Collections.Concurrent.dll" /> 
		</Component>
       
		<Component Id="SystemCollections_dll">
			<File Source="System.Collections.dll" /> 
		</Component>
       
		<Component Id="SystemCollectionsImmutable_dll">
			<File Source="System.Collections.Immutable.dll" /> 
		</Component>
       
		<Component Id="SystemCollectionsNonGeneric_dll">
			<File Source="System.Collections.NonGeneric.dll" /> 
		</Component>
       
		<Component Id="SystemCollectionsSpecialized_dll">
			<File Source="System.Collections.Specialized.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModelAnnotations_dll">
			<File Source="System.ComponentModel.Annotations.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModelDataAnnotations_dll">
			<File Source="System.ComponentModel.DataAnnotations.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModel_dll">
			<File Source="System.ComponentModel.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModelEventBasedAsync_dll">
			<File Source="System.ComponentModel.EventBasedAsync.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModelPrimitives_dll">
			<File Source="System.ComponentModel.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemComponentModelTypeConverter_dll">
			<File Source="System.ComponentModel.TypeConverter.dll" /> 
		</Component>
       
		<Component Id="SystemConfigurationConfigurationManager_dll">
			<File Source="System.Configuration.ConfigurationManager.dll" /> 
		</Component>
       
		<Component Id="SystemConfiguration_dll">
			<File Source="System.Configuration.dll" /> 
		</Component>
       
		<Component Id="SystemConsole_dll">
			<File Source="System.Console.dll" /> 
		</Component>
       
		<Component Id="SystemCore_dll">
			<File Source="System.Core.dll" /> 
		</Component>
       
		<Component Id="SystemDataCommon_dll">
			<File Source="System.Data.Common.dll" /> 
		</Component>
       
		<Component Id="SystemDataDataSetExtensions_dll">
			<File Source="System.Data.DataSetExtensions.dll" /> 
		</Component>
       
		<Component Id="SystemData_dll">
			<File Source="System.Data.dll" /> 
		</Component>
       
		<Component Id="SystemDataSqlClient_dll">
			<File Source="System.Data.SqlClient.dll" /> 
		</Component>
       
		<Component Id="SystemDataSQLite_dll">
			<File Source="System.Data.SQLite.dll" /> 
		</Component>
       
		<Component Id="SystemDataSQLiteEF6_dll">
			<File Source="System.Data.SQLite.EF6.dll" /> 
		</Component>
       
		<Component Id="SystemDesign_dll">
			<File Source="System.Design.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsContracts_dll">
			<File Source="System.Diagnostics.Contracts.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsDebug_dll">
			<File Source="System.Diagnostics.Debug.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsDiagnosticSource_dll">
			<File Source="System.Diagnostics.DiagnosticSource.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsEventLog_dll">
			<File Source="System.Diagnostics.EventLog.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsEventLogMessages_dll">
			<File Source="System.Diagnostics.EventLog.Messages.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsFileVersionInfo_dll">
			<File Source="System.Diagnostics.FileVersionInfo.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsPerformanceCounter_dll">
			<File Source="System.Diagnostics.PerformanceCounter.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsProcess_dll">
			<File Source="System.Diagnostics.Process.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsStackTrace_dll">
			<File Source="System.Diagnostics.StackTrace.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsTextWriterTraceListener_dll">
			<File Source="System.Diagnostics.TextWriterTraceListener.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsTools_dll">
			<File Source="System.Diagnostics.Tools.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsTraceSource_dll">
			<File Source="System.Diagnostics.TraceSource.dll" /> 
		</Component>
       
		<Component Id="SystemDiagnosticsTracing_dll">
			<File Source="System.Diagnostics.Tracing.dll" /> 
		</Component>
       
		<Component Id="SystemDirectoryServices_dll">
			<File Source="System.DirectoryServices.dll" /> 
		</Component>
       
		<Component Id="System_dll">
			<File Source="System.dll" /> 
		</Component>
       
		<Component Id="SystemDrawingCommon_dll">
			<File Source="System.Drawing.Common.dll" /> 
		</Component>
       
		<Component Id="SystemDrawingDesign_dll">
			<File Source="System.Drawing.Design.dll" /> 
		</Component>
       
		<Component Id="SystemDrawing_dll">
			<File Source="System.Drawing.dll" /> 
		</Component>
       
		<Component Id="SystemDrawingPrimitives_dll">
			<File Source="System.Drawing.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemDynamicRuntime_dll">
			<File Source="System.Dynamic.Runtime.dll" /> 
		</Component>
       
		<Component Id="SystemFormatsAsn1_dll">
			<File Source="System.Formats.Asn1.dll" /> 
		</Component>
       
		<Component Id="SystemFormatsTar_dll">
			<File Source="System.Formats.Tar.dll" /> 
		</Component>
       
		<Component Id="SystemGlobalizationCalendars_dll">
			<File Source="System.Globalization.Calendars.dll" /> 
		</Component>
       
		<Component Id="SystemGlobalization_dll">
			<File Source="System.Globalization.dll" /> 
		</Component>
       
		<Component Id="SystemGlobalizationExtensions_dll">
			<File Source="System.Globalization.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemIOCompressionBrotli_dll">
			<File Source="System.IO.Compression.Brotli.dll" /> 
		</Component>
       
		<Component Id="SystemIOCompression_dll">
			<File Source="System.IO.Compression.dll" /> 
		</Component>
       
		<Component Id="SystemIOCompressionFileSystem_dll">
			<File Source="System.IO.Compression.FileSystem.dll" /> 
		</Component>
       
		<Component Id="SystemIOCompressionNative_dll">
			<File Source="System.IO.Compression.Native.dll" /> 
		</Component>
       
		<Component Id="SystemIOCompressionZipFile_dll">
			<File Source="System.IO.Compression.ZipFile.dll" /> 
		</Component>
       
		<Component Id="SystemIO_dll">
			<File Source="System.IO.dll" /> 
		</Component>
       
		<Component Id="SystemIOFileSystemAccessControl_dll">
			<File Source="System.IO.FileSystem.AccessControl.dll" /> 
		</Component>
       
		<Component Id="SystemIOFileSystem_dll">
			<File Source="System.IO.FileSystem.dll" /> 
		</Component>
       
		<Component Id="SystemIOFileSystemDriveInfo_dll">
			<File Source="System.IO.FileSystem.DriveInfo.dll" /> 
		</Component>
       
		<Component Id="SystemIOFileSystemPrimitives_dll">
			<File Source="System.IO.FileSystem.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemIOFileSystemWatcher_dll">
			<File Source="System.IO.FileSystem.Watcher.dll" /> 
		</Component>
       
		<Component Id="SystemIOIsolatedStorage_dll">
			<File Source="System.IO.IsolatedStorage.dll" /> 
		</Component>
       
		<Component Id="SystemIOMemoryMappedFiles_dll">
			<File Source="System.IO.MemoryMappedFiles.dll" /> 
		</Component>
       
		<Component Id="SystemIOPackaging_dll">
			<File Source="System.IO.Packaging.dll" /> 
		</Component>
       
		<Component Id="SystemIOPipesAccessControl_dll">
			<File Source="System.IO.Pipes.AccessControl.dll" /> 
		</Component>
       
		<Component Id="SystemIOPipes_dll">
			<File Source="System.IO.Pipes.dll" /> 
		</Component>
       
		<Component Id="SystemIOUnmanagedMemoryStream_dll">
			<File Source="System.IO.UnmanagedMemoryStream.dll" /> 
		</Component>
       
		<Component Id="SystemLinq_dll">
			<File Source="System.Linq.dll" /> 
		</Component>
       
		<Component Id="SystemLinqExpressions_dll">
			<File Source="System.Linq.Expressions.dll" /> 
		</Component>
       
		<Component Id="SystemLinqParallel_dll">
			<File Source="System.Linq.Parallel.dll" /> 
		</Component>
       
		<Component Id="SystemLinqQueryable_dll">
			<File Source="System.Linq.Queryable.dll" /> 
		</Component>
       
		<Component Id="SystemMemory_dll">
			<File Source="System.Memory.dll" /> 
		</Component>
       
		<Component Id="SystemNet_dll">
			<File Source="System.Net.dll" /> 
		</Component>
       
		<Component Id="SystemNetHttp_dll">
			<File Source="System.Net.Http.dll" /> 
		</Component>
       
		<Component Id="SystemNetHttpJson_dll">
			<File Source="System.Net.Http.Json.dll" /> 
		</Component>
       
		<Component Id="SystemNetHttpListener_dll">
			<File Source="System.Net.HttpListener.dll" /> 
		</Component>
       
		<Component Id="SystemNetMail_dll">
			<File Source="System.Net.Mail.dll" /> 
		</Component>
       
		<Component Id="SystemNetNameResolution_dll">
			<File Source="System.Net.NameResolution.dll" /> 
		</Component>
       
		<Component Id="SystemNetNetworkInformation_dll">
			<File Source="System.Net.NetworkInformation.dll" /> 
		</Component>
       
		<Component Id="SystemNetPing_dll">
			<File Source="System.Net.Ping.dll" /> 
		</Component>
       
		<Component Id="SystemNetPrimitives_dll">
			<File Source="System.Net.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemNetQuic_dll">
			<File Source="System.Net.Quic.dll" /> 
		</Component>
       
		<Component Id="SystemNetRequests_dll">
			<File Source="System.Net.Requests.dll" /> 
		</Component>
       
		<Component Id="SystemNetSecurity_dll">
			<File Source="System.Net.Security.dll" /> 
		</Component>
       
		<Component Id="SystemNetServicePoint_dll">
			<File Source="System.Net.ServicePoint.dll" /> 
		</Component>
       
		<Component Id="SystemNetSockets_dll">
			<File Source="System.Net.Sockets.dll" /> 
		</Component>
       
		<Component Id="SystemNetWebClient_dll">
			<File Source="System.Net.WebClient.dll" /> 
		</Component>
       
		<Component Id="SystemNetWebHeaderCollection_dll">
			<File Source="System.Net.WebHeaderCollection.dll" /> 
		</Component>
       
		<Component Id="SystemNetWebProxy_dll">
			<File Source="System.Net.WebProxy.dll" /> 
		</Component>
       
		<Component Id="SystemNetWebSocketsClient_dll">
			<File Source="System.Net.WebSockets.Client.dll" /> 
		</Component>
       
		<Component Id="SystemNetWebSockets_dll">
			<File Source="System.Net.WebSockets.dll" /> 
		</Component>
       
		<Component Id="SystemNumerics_dll">
			<File Source="System.Numerics.dll" /> 
		</Component>
       
		<Component Id="SystemNumericsVectors_dll">
			<File Source="System.Numerics.Vectors.dll" /> 
		</Component>
       
		<Component Id="SystemObjectModel_dll">
			<File Source="System.ObjectModel.dll" /> 
		</Component>
       
		<Component Id="SystemPrinting_dll">
			<File Source="System.Printing.dll" /> 
		</Component>
       
		<Component Id="SystemPrivateCoreLib_dll">
			<File Source="System.Private.CoreLib.dll" /> 
		</Component>
       
		<Component Id="SystemPrivateDataContractSerialization_dll">
			<File Source="System.Private.DataContractSerialization.dll" /> 
		</Component>
       
		<Component Id="SystemPrivateUri_dll">
			<File Source="System.Private.Uri.dll" /> 
		</Component>
       
		<Component Id="SystemPrivateXml_dll">
			<File Source="System.Private.Xml.dll" /> 
		</Component>
       
		<Component Id="SystemPrivateXmlLinq_dll">
			<File Source="System.Private.Xml.Linq.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionDispatchProxy_dll">
			<File Source="System.Reflection.DispatchProxy.dll" /> 
		</Component>
       
		<Component Id="SystemReflection_dll">
			<File Source="System.Reflection.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionEmit_dll">
			<File Source="System.Reflection.Emit.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionEmitILGeneration_dll">
			<File Source="System.Reflection.Emit.ILGeneration.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionEmitLightweight_dll">
			<File Source="System.Reflection.Emit.Lightweight.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionExtensions_dll">
			<File Source="System.Reflection.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionMetadata_dll">
			<File Source="System.Reflection.Metadata.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionPrimitives_dll">
			<File Source="System.Reflection.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemReflectionTypeExtensions_dll">
			<File Source="System.Reflection.TypeExtensions.dll" /> 
		</Component>
       
		<Component Id="SystemResourcesExtensions_dll">
			<File Source="System.Resources.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemResourcesReader_dll">
			<File Source="System.Resources.Reader.dll" /> 
		</Component>
       
		<Component Id="SystemResourcesResourceManager_dll">
			<File Source="System.Resources.ResourceManager.dll" /> 
		</Component>
       
		<Component Id="SystemResourcesWriter_dll">
			<File Source="System.Resources.Writer.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeCompilerServicesUnsafe_dll">
			<File Source="System.Runtime.CompilerServices.Unsafe.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeCompilerServicesVisualC_dll">
			<File Source="System.Runtime.CompilerServices.VisualC.dll" /> 
		</Component>
       
		<Component Id="SystemRuntime_dll">
			<File Source="System.Runtime.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeExtensions_dll">
			<File Source="System.Runtime.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeHandles_dll">
			<File Source="System.Runtime.Handles.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeInteropServices_dll">
			<File Source="System.Runtime.InteropServices.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeInteropServicesJavaScript_dll">
			<File Source="System.Runtime.InteropServices.JavaScript.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeInteropServicesRuntimeInformation_dll">
			<File Source="System.Runtime.InteropServices.RuntimeInformation.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeIntrinsics_dll">
			<File Source="System.Runtime.Intrinsics.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeLoader_dll">
			<File Source="System.Runtime.Loader.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeNumerics_dll">
			<File Source="System.Runtime.Numerics.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeSerialization_dll">
			<File Source="System.Runtime.Serialization.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeSerializationFormatters_dll">
			<File Source="System.Runtime.Serialization.Formatters.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeSerializationJson_dll">
			<File Source="System.Runtime.Serialization.Json.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeSerializationPrimitives_dll">
			<File Source="System.Runtime.Serialization.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemRuntimeSerializationXml_dll">
			<File Source="System.Runtime.Serialization.Xml.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityAccessControl_dll">
			<File Source="System.Security.AccessControl.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityClaims_dll">
			<File Source="System.Security.Claims.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyAlgorithms_dll">
			<File Source="System.Security.Cryptography.Algorithms.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyCng_dll">
			<File Source="System.Security.Cryptography.Cng.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyCsp_dll">
			<File Source="System.Security.Cryptography.Csp.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptography_dll">
			<File Source="System.Security.Cryptography.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyEncoding_dll">
			<File Source="System.Security.Cryptography.Encoding.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyOpenSsl_dll">
			<File Source="System.Security.Cryptography.OpenSsl.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyPkcs_dll">
			<File Source="System.Security.Cryptography.Pkcs.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyPrimitives_dll">
			<File Source="System.Security.Cryptography.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyProtectedData_dll">
			<File Source="System.Security.Cryptography.ProtectedData.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyX509Certificates_dll">
			<File Source="System.Security.Cryptography.X509Certificates.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityCryptographyXml_dll">
			<File Source="System.Security.Cryptography.Xml.dll" /> 
		</Component>
       
		<Component Id="SystemSecurity_dll">
			<File Source="System.Security.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityPermissions_dll">
			<File Source="System.Security.Permissions.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityPrincipal_dll">
			<File Source="System.Security.Principal.dll" /> 
		</Component>
       
		<Component Id="SystemSecurityPrincipalWindows_dll">
			<File Source="System.Security.Principal.Windows.dll" /> 
		</Component>
       
		<Component Id="SystemSecuritySecureString_dll">
			<File Source="System.Security.SecureString.dll" /> 
		</Component>
       
		<Component Id="SystemServiceModelWeb_dll">
			<File Source="System.ServiceModel.Web.dll" /> 
		</Component>
       
		<Component Id="SystemServiceProcess_dll">
			<File Source="System.ServiceProcess.dll" /> 
		</Component>
       
		<Component Id="SystemTextEncodingCodePages_dll">
			<File Source="System.Text.Encoding.CodePages.dll" /> 
		</Component>
       
		<Component Id="SystemTextEncoding_dll">
			<File Source="System.Text.Encoding.dll" /> 
		</Component>
       
		<Component Id="SystemTextEncodingExtensions_dll">
			<File Source="System.Text.Encoding.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemTextEncodingsWeb_dll">
			<File Source="System.Text.Encodings.Web.dll" /> 
		</Component>
       
		<Component Id="SystemTextJson_dll">
			<File Source="System.Text.Json.dll" /> 
		</Component>
       
		<Component Id="SystemTextRegularExpressions_dll">
			<File Source="System.Text.RegularExpressions.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingAccessControl_dll">
			<File Source="System.Threading.AccessControl.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingChannels_dll">
			<File Source="System.Threading.Channels.dll" /> 
		</Component>
       
		<Component Id="SystemThreading_dll">
			<File Source="System.Threading.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingOverlapped_dll">
			<File Source="System.Threading.Overlapped.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingTasksDataflow_dll">
			<File Source="System.Threading.Tasks.Dataflow.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingTasks_dll">
			<File Source="System.Threading.Tasks.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingTasksExtensions_dll">
			<File Source="System.Threading.Tasks.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingTasksParallel_dll">
			<File Source="System.Threading.Tasks.Parallel.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingThread_dll">
			<File Source="System.Threading.Thread.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingThreadPool_dll">
			<File Source="System.Threading.ThreadPool.dll" /> 
		</Component>
       
		<Component Id="SystemThreadingTimer_dll">
			<File Source="System.Threading.Timer.dll" /> 
		</Component>
       
		<Component Id="SystemTransactions_dll">
			<File Source="System.Transactions.dll" /> 
		</Component>
       
		<Component Id="SystemTransactionsLocal_dll">
			<File Source="System.Transactions.Local.dll" /> 
		</Component>
       
		<Component Id="SystemValueTuple_dll">
			<File Source="System.ValueTuple.dll" /> 
		</Component>
       
		<Component Id="SystemWeb_dll">
			<File Source="System.Web.dll" /> 
		</Component>
       
		<Component Id="SystemWebHttpUtility_dll">
			<File Source="System.Web.HttpUtility.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsControlsRibbon_dll">
			<File Source="System.Windows.Controls.Ribbon.dll" /> 
		</Component>
       
		<Component Id="SystemWindows_dll">
			<File Source="System.Windows.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsExtensions_dll">
			<File Source="System.Windows.Extensions.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsFormsDataVisualization_dll">
			<File Source="System.Windows.Forms.DataVisualization.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsFormsDesign_dll">
			<File Source="System.Windows.Forms.Design.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsFormsDesignEditors_dll">
			<File Source="System.Windows.Forms.Design.Editors.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsForms_dll">
			<File Source="System.Windows.Forms.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsFormsPrimitives_dll">
			<File Source="System.Windows.Forms.Primitives.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsInputManipulations_dll">
			<File Source="System.Windows.Input.Manipulations.dll" /> 
		</Component>
       
		<Component Id="SystemWindowsPresentation_dll">
			<File Source="System.Windows.Presentation.dll" /> 
		</Component>
       
		<Component Id="SystemXaml_dll">
			<File Source="System.Xaml.dll" /> 
		</Component>
       
		<Component Id="SystemXml_dll">
			<File Source="System.Xml.dll" /> 
		</Component>
       
		<Component Id="SystemXmlLinq_dll">
			<File Source="System.Xml.Linq.dll" /> 
		</Component>
       
		<Component Id="SystemXmlReaderWriter_dll">
			<File Source="System.Xml.ReaderWriter.dll" /> 
		</Component>
       
		<Component Id="SystemXmlSerialization_dll">
			<File Source="System.Xml.Serialization.dll" /> 
		</Component>
       
		<Component Id="SystemXmlXDocument_dll">
			<File Source="System.Xml.XDocument.dll" /> 
		</Component>
       
		<Component Id="SystemXmlXmlDocument_dll">
			<File Source="System.Xml.XmlDocument.dll" /> 
		</Component>
       
		<Component Id="SystemXmlXmlSerializer_dll">
			<File Source="System.Xml.XmlSerializer.dll" /> 
		</Component>
       
		<Component Id="SystemXmlXPath_dll">
			<File Source="System.Xml.XPath.dll" /> 
		</Component>
       
		<Component Id="SystemXmlXPathXDocument_dll">
			<File Source="System.Xml.XPath.XDocument.dll" /> 
		</Component>
       
		<Component Id="UIAutomationClient_dll">
			<File Source="UIAutomationClient.dll" /> 
		</Component>
       
		<Component Id="UIAutomationClientSideProviders_dll">
			<File Source="UIAutomationClientSideProviders.dll" /> 
		</Component>
       
		<Component Id="UIAutomationProvider_dll">
			<File Source="UIAutomationProvider.dll" /> 
		</Component>
       
		<Component Id="UIAutomationTypes_dll">
			<File Source="UIAutomationTypes.dll" /> 
		</Component>
       
		<Component Id="vcruntime140_cor3_dll">
			<File Source="vcruntime140_cor3.dll" /> 
		</Component>
       
		<Component Id="WindowsBase_dll">
			<File Source="WindowsBase.dll" /> 
		</Component>
       
		<Component Id="WindowsFormsIntegration_dll">
			<File Source="WindowsFormsIntegration.dll" /> 
		</Component>
       
		<Component Id="wpfgfx_cor3_dll">
			<File Source="wpfgfx_cor3.dll" /> 
		</Component>
       
	</ComponentGroup>
  </Fragment>
</Wix>
